
/* app 主题色 */
:root {
  
  /* 头部导航 */
  --app-nav-background: #30539b;
  /* --app-nav-background: #e50027; */
  
  --app-nav-text-color: #f8f8f8;

  /* 背景颜色 */
  --app-theme-color: #ffffff;
  --app-color-background: #f8f8f8;
  --app-color-section-background: var(--app-theme-color);
  --app-text-color: #333;

  /* 深色背景字亮色 */
  --app-text-linght-color: #e8e8e8;
  --app-text-label-color: #777777;

  --app-text-negation-color: #eee;
  --app-line-theme-color: #fff;
  --app-light-color: #eee;
  --app-text-light-color: var(--app-light-color);
  
  /* 按钮背景色 */
  --app-button-background: #03a9f4;
  --app-button-text-active-color: #fff;    

  --app-dark-theme-background: var(--app-dark-theme-color);
  --app-dark-theme-text-color: #95d3f7;

  /* 字号 */
  --app-text-default-size: 12px;
  --app-text-h1-size: 22px;
  --app-text-h2-size: 18px;
  --app-text-h3-size: 16px;
  --app-text-big-size: 16px;
  --app-text-mid-size: 14px;
  --app-text-small-size: 12px;

  /* 自开发图表 */
  --app-chart-color: var(--el-color-primary);
  --app-chart-color-light-2: var(--el-color-primary-light-2);
  --app-chart-color-light-4: var(--el-color-primary-light-4);
  --app-chart-color-light-5:var(--el-color-primary-light-5);
  --app-chart-color-light-6: var(--el-color-primary-light-6);
  --app-chart-color-light-8: var(--el-color-primary-light-8);
  --app-chart-color-light-9: var(--el-color-primary-light-9);
  --app-chart-color-dark-2: var( --el-color-primary-dark-2);

  --app-chart-color-mid:#0a0b0fad;
  --app-chart-color-background:#00004e9e;
  --app-chart-color-text:#eee;


  
  /* echarts深色 */
  --app-echarts-dark-background: #100c2a;
 
  
}

.red {

    --app-nav-background: #e50027;
    
    --app-chart-color:#e60027;
    --app-chart-color-light-2:#fc032d;
    --app-chart-color-light-4:#fc4362;
    --app-chart-color-light-5:#fc8397;
    --app-chart-color-light-6:#fab2c0;
    --app-chart-color-light-8:#f6c9d1;
    --app-chart-color-light-9:#f7dbe0;
  
    --app-chart-color-dark-2:#e60027;
    --app-chart-color-mid:#0a0b0fad;
    --app-chart-color-background:#00004e9e;
    --app-chart-color-text:#eee;
  
    
    /* echarts深色 */
    --app-echarts-dark-background: #100c2a;
  
    --el-color-primary: var(--app-chart-color-light-4) !important;
    --el-color-primary-light-2: var(--app-chart-color-light-2) !important;
    --el-color-primary-light-3: var(--app-chart-color-light-6) !important;
    --el-color-primary-light-5: var(--app-chart-color-light-6) !important;
    --el-color-primary-light-9: var(--app-chart-color-light-9) !important;
  
    --el-color-primary-dark-2: var(--app-chart-color-dark-2) !important;
  
    
    --el-button-hover-bg-color: var(--app-chart-color-light-3) !important;
    --el-button-active-bg-color: var(--el-color-primary-light-2) !important;
    --el-button-bg-color: var(--el-color-primary-light-9);
    --el-button-border-color: var(--el-color-primary-light-5);
  
    --el-button-active-border-color: var(--el-color-primary-light-2) !important;

}

.blue {
  --app-nav-background: #30539b;
  
  --app-chart-color: var(--el-color-primary);
  --app-chart-color-light-2: var(--el-color-primary-light-2);
  --app-chart-color-light-4: var(--el-color-primary-light-4);
  --app-chart-color-light-6: var(--el-color-primary-light-6);
  --app-chart-color-light-8: var(--el-color-primary-light-8);
  --app-chart-color-dark-2: var( --el-color-primary-dark-2);

  
  /* echarts深色 */
  --app-echarts-dark-background: #100c2a;


}

/* 黑暗主图 */
.dark {

  --app-theme-color: #181818;
  --app-color-background: var(--app-theme-color);
  --app-color-section-background: var(--app-theme-color);
  --app-text-color: #eeeeee;
  --app-text-label-color: #888888;
  --app-text-negation-color: #ccc;
  --app-line-theme-color: #eeeeee;
  /* 按钮背景色 */
  --app-button-background: #03a9f4;

  --app-nav-background: #30539b;
  
  --app-chart-color: var(--el-color-primary);
  --app-chart-color-light-2: var(--el-color-primary-light-2);
  --app-chart-color-light-4: var(--el-color-primary-light-4);
  --app-chart-color-light-6: var(--el-color-primary-light-6);
  --app-chart-color-light-8: var(--el-color-primary-light-8);
  --app-chart-color-dark-2: var( --el-color-primary-dark-2);

  /* echarts深色 */
  --app-echarts-dark-background: #100c2a;
}

.light {
  --app-theme-color: #ffffff;
  --app-color-section-background: #f8f8f8;
  --app-text-negation-color: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  /* min-height: 100vh; */
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.big-title {
  font-size: 24px;
  font-weight: bold;
}

.mid-title {
  font-size: 20px;
  font-weight: bold;
}

.nomarl-title {
  font-size: 16px;
  font-weight: bold;
}

.gray {
  filter: grayscale(1);
}

::-webkit-scrollbar {
  /* width: 12px; */
  /* height: 12px; */
}
/* 滑块部分 */
::-webkit-scrollbar-thumb {
  /* border-radius: 6px; */
  /* background-color: var(--app-theme-color); */
  /* filter: invert(1); */
  /* opacity: 0.3; */
  
}
/* 轨道部分 */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #ddd; */
  /* background: #ddd; */
  /* border-radius: 12px; */
  /* opacity: 0.3; */
}
