@tailwind components;

@layer components {
    .card-base {
        @apply rounded-[var(--radius-large)] overflow-hidden bg-[var(--card-bg)] transition;
    }
    h1, h2, h3, h4, h5, h6, p, a, span, li, ul, ol, blockquote, code, pre, table, th, td, strong {
        @apply transition;
    }
    .card-shadow {
        @apply drop-shadow-[0_2px_4px_rgba(0,0,0,0.005)]
    }
    .expand-animation {
        @apply relative before:ease-out before:transition active:bg-none hover:before:bg-[var(--btn-plain-bg-hover)] active:before:bg-[var(--btn-plain-bg-active)] z-0
        before:absolute before:rounded-[inherit] before:inset-0 before:scale-[0.85] hover:before:scale-100 before:-z-10
    }
    .link {
        @apply transition rounded-md p-1 -m-1 expand-animation;
    }
    .link-lg {
        @apply transition rounded-md p-1.5 -m-1.5 expand-animation;
    }
    .float-panel {
        @apply top-[5.25rem] rounded-[var(--radius-large)] overflow-hidden bg-[var(--float-panel-bg)] transition shadow-xl dark:shadow-none
    }
    .float-panel-closed {
        @apply -translate-y-1 opacity-0 pointer-events-none
    }
    .search-panel mark {
        @apply bg-transparent text-[var(--primary)]
    }

    .btn-card {
        @apply transition flex items-center justify-center bg-[var(--card-bg)] hover:bg-[var(--btn-card-bg-hover)]
        active:bg-[var(--btn-card-bg-active)]
    }
    .btn-card.disabled {
        @apply pointer-events-none text-black/10 dark:text-white/10
    }
    .btn-plain {
        @apply transition relative flex items-center justify-center bg-none
        text-black/75 hover:text-[var(--primary)] dark:text-white/75 dark:hover:text-[var(--primary)];
        &:not(.scale-animation) {
            @apply hover:bg-[var(--btn-plain-bg-hover)] active:bg-[var(--btn-plain-bg-active)]
        }
        &.scale-animation {
            @apply expand-animation;
            &.current-theme-btn {
                @apply before:scale-100 before:opacity-100 before:bg-[var(--btn-plain-bg-hover)] text-[var(--primary)]
            }
        }
    }
    .btn-regular {
        @apply transition flex items-center justify-center bg-[var(--btn-regular-bg)] hover:bg-[var(--btn-regular-bg-hover)] active:bg-[var(--btn-regular-bg-active)]
        text-[var(--btn-content)] dark:text-white/75
    }

    .link-underline {
        @apply transition underline decoration-2 decoration-dashed decoration-[var(--link-underline)]
        hover:decoration-[var(--link-hover)] active:decoration-[var(--link-active)] underline-offset-[0.25rem]
    }

    .toc-hide,
    .toc-not-ready {
        @apply opacity-0 pointer-events-none
    }

    #toc-inner-wrapper {
        mask-image: linear-gradient(to bottom, transparent 0%, black 2rem, black calc(100% - 2rem), transparent 100%);
    }

    .hide-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .text-90 {
        @apply text-black/90 dark:text-white/90
    }
    .text-75 {
        @apply text-black/75 dark:text-white/75
    }
    .text-50 {
        @apply text-black/50 dark:text-white/50
    }
    .text-30 {
        @apply text-black/30 dark:text-white/30
    }
    .text-25 {
        @apply text-black/25 dark:text-white/25
    }

    .meta-icon {
        @apply w-8 h-8 transition rounded-md flex items-center justify-center bg-[var(--btn-regular-bg)]
        text-[var(--btn-content)] mr-2
    }
    .with-divider {
        @apply before:content-['/'] before:ml-1.5 before:mr-1.5 before:text-[var(--meta-divider)] before:text-sm
        before:font-medium before:first-of-type:hidden before:transition
    }

    .btn-regular-dark {
        @apply flex items-center justify-center
        bg-[oklch(0.45_0.01_var(--hue))] hover:bg-[oklch(0.50_0.01_var(--hue))] active:bg-[oklch(0.55_0.01_var(--hue))]
        dark:bg-[oklch(0.30_0.02_var(--hue))] dark:hover:bg-[oklch(0.35_0.03_var(--hue))] dark:active:bg-[oklch(0.40_0.03_var(--hue))]
    }
    .btn-regular-dark.success {
        @apply bg-[oklch(0.75_0.14_var(--hue))] dark:bg-[oklch(0.75_0.14_var(--hue))]
    }

    .copy-btn-icon {
        @apply absolute top-1/2 left-1/2 transition -translate-x-1/2 -translate-y-1/2
    }
    .copy-btn .copy-icon {
        @apply opacity-100 fill-white dark:fill-white/75
    }
    .copy-btn.success .copy-icon {
        @apply opacity-0 fill-[var(--deep-text)]
    }
    .copy-btn .success-icon {
        @apply opacity-0
    }
    .copy-btn.success .success-icon {
        @apply opacity-100
    }
}

.custom-md img, #post-cover img {
    @apply cursor-zoom-in
}

::selection {
    background-color: var(--selection-bg)
}

.dash-line {
    position: relative;
}

.dash-line::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    left: calc(50% - 1px);
    border-left: 2px dashed var(--line-color);
    pointer-events: none;
    transition: all 0.3s;
    transform: translateY(-50%);
}

.collapsed {
    height: var(--collapsedHeight);
}
@font-face {
    font-family: 'MiSans';
    src: url('./fonts/MiSans-Normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MiSans';
    src: url('./fonts/MiSans-Semibold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
.click-heart {
    position: fixed;
    z-index: 8888;
    font-size: 20px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    color: #ff6b81;
    animation: floatUp 1s ease-out forwards;
}

.click-symbol {
    position: fixed;
    font-size: 24px;
    pointer-events: none;
    z-index: 8888;
    transition: transform 1s ease-out, opacity 1s ease-out;
    user-select: none;
}

.float-up {
    animation: floatUp 1s ease-out forwards;
}
/*点击动画*/
.click-particle {
    position: fixed;
    pointer-events: none;
    z-index: 8888;
    user-select: none;
    transition: transform 1s ease-out, opacity 1s ease-out;
    will-change: transform, opacity;
}

#waifu-toggle {
    background-color: #fa0;
    border-radius: 5px;
    bottom: 66px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    left: 0;
    margin-left: -100px;
    padding: 5px 2px 5px 5px;
    position: fixed;
    transition: margin-left 1s;
    width: 60px;
    writing-mode: vertical-rl;
}

#waifu-toggle.waifu-toggle-active {
    margin-left: -50px;
}

#waifu-toggle.waifu-toggle-active:hover {
    margin-left: -30px;
}

#waifu {
    bottom: -1000px;
    left: 0;
    line-height: 0;
    margin-bottom: -10px;
    position: fixed;
    transform: translateY(3px);
    transition: transform .3s ease-in-out, bottom 3s ease-in-out;
    z-index: 9999;
}

#waifu:hover {
    transform: translateY(0);
}

#waifu-tips {
    animation: shake 50s ease-in-out 5s infinite;
    background-color: rgba(236, 217, 188, .5);
    border: 1px solid rgba(224, 186, 140, .62);
    border-radius: 12px;
    box-shadow: 0 3px 15px 2px rgba(191, 158, 118, .2);
    font-size: 14px;
    line-height: 24px;
    margin: -30px 20px;
    min-height: 70px;
    opacity: 0;
    overflow: hidden;
    padding: 5px 10px;
    position: absolute;
    text-overflow: ellipsis;
    transition: opacity 1s;
    width: 220px;
    word-break: break-all;
}

#waifu-tips.waifu-tips-active {
    opacity: 1;
    transition: opacity .2s;
}

#waifu-tips span {
    color: #0099cc;
}

#live2d {
    cursor: grab;
    height: 250px;
    position: relative;
    width: 250px;
}

#live2d:active {
    cursor: grabbing;
}

#waifu-tool {
    color: #aaa;
    opacity: 0;
    position: absolute;
    right: -10px;
    top: 70px;
    transition: opacity 1s;
}

#waifu:hover #waifu-tool {
    opacity: 1;
}

#waifu-tool span {
    display: block;
    height: 30px;
    text-align: center;
}

#waifu-tool svg {
    fill: #7b8c9d;
    cursor: pointer;
    height: 25px;
    transition: fill .3s;
}

#waifu-tool svg:hover {
    fill: #0684bd; /* #34495e */
}

@keyframes shake {
    2% {
        transform: translate(.5px, -1.5px) rotate(-.5deg);
    }

    4% {
        transform: translate(.5px, 1.5px) rotate(1.5deg);
    }

    6% {
        transform: translate(1.5px, 1.5px) rotate(1.5deg);
    }

    8% {
        transform: translate(2.5px, 1.5px) rotate(.5deg);
    }

    10% {
        transform: translate(.5px, 2.5px) rotate(.5deg);
    }

    12% {
        transform: translate(1.5px, 1.5px) rotate(.5deg);
    }

    14% {
        transform: translate(.5px, .5px) rotate(.5deg);
    }

    16% {
        transform: translate(-1.5px, -.5px) rotate(1.5deg);
    }

    18% {
        transform: translate(.5px, .5px) rotate(1.5deg);
    }

    20% {
        transform: translate(2.5px, 2.5px) rotate(1.5deg);
    }

    22% {
        transform: translate(.5px, -1.5px) rotate(1.5deg);
    }

    24% {
        transform: translate(-1.5px, 1.5px) rotate(-.5deg);
    }

    26% {
        transform: translate(1.5px, .5px) rotate(1.5deg);
    }

    28% {
        transform: translate(-.5px, -.5px) rotate(-.5deg);
    }

    30% {
        transform: translate(1.5px, -.5px) rotate(-.5deg);
    }

    32% {
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    34% {
        transform: translate(2.5px, 2.5px) rotate(-.5deg);
    }

    36% {
        transform: translate(.5px, -1.5px) rotate(.5deg);
    }

    38% {
        transform: translate(2.5px, -.5px) rotate(-.5deg);
    }

    40% {
        transform: translate(-.5px, 2.5px) rotate(.5deg);
    }

    42% {
        transform: translate(-1.5px, 2.5px) rotate(.5deg);
    }

    44% {
        transform: translate(-1.5px, 1.5px) rotate(.5deg);
    }

    46% {
        transform: translate(1.5px, -.5px) rotate(-.5deg);
    }

    48% {
        transform: translate(2.5px, -.5px) rotate(.5deg);
    }

    50% {
        transform: translate(-1.5px, 1.5px) rotate(.5deg);
    }

    52% {
        transform: translate(-.5px, 1.5px) rotate(.5deg);
    }

    54% {
        transform: translate(-1.5px, 1.5px) rotate(.5deg);
    }

    56% {
        transform: translate(.5px, 2.5px) rotate(1.5deg);
    }

    58% {
        transform: translate(2.5px, 2.5px) rotate(.5deg);
    }

    60% {
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    62% {
        transform: translate(-1.5px, .5px) rotate(1.5deg);
    }

    64% {
        transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    }

    66% {
        transform: translate(.5px, 2.5px) rotate(1.5deg);
    }

    68% {
        transform: translate(2.5px, -1.5px) rotate(1.5deg);
    }

    70% {
        transform: translate(2.5px, 2.5px) rotate(.5deg);
    }

    72% {
        transform: translate(-.5px, -1.5px) rotate(1.5deg);
    }

    74% {
        transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    }

    76% {
        transform: translate(-1.5px, 2.5px) rotate(1.5deg);
    }

    78% {
        transform: translate(-1.5px, 2.5px) rotate(.5deg);
    }

    80% {
        transform: translate(-1.5px, .5px) rotate(-.5deg);
    }

    82% {
        transform: translate(-1.5px, .5px) rotate(-.5deg);
    }

    84% {
        transform: translate(-.5px, .5px) rotate(1.5deg);
    }

    86% {
        transform: translate(2.5px, 1.5px) rotate(.5deg);
    }

    88% {
        transform: translate(-1.5px, .5px) rotate(1.5deg);
    }

    90% {
        transform: translate(-1.5px, -.5px) rotate(-.5deg);
    }

    92% {
        transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    }

    94% {
        transform: translate(.5px, .5px) rotate(-.5deg);
    }

    96% {
        transform: translate(2.5px, -.5px) rotate(-.5deg);
    }

    98% {
        transform: translate(-1.5px, -1.5px) rotate(-.5deg);
    }

    0%, 100% {
        transform: translate(0, 0) rotate(0);
    }
}
